/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
input[type=name],input[type=password],input[type=date],input[type=email],input[type=username],input[type=number]{
  margin:0px auto 20px auto;
  width: 90%;
  background-color: #000000;
  color:#aaaaaa;
  font-size: 1.5em;
} 

input[type=button]{
  background-color: #000000;
  color:#ffffff;
  padding: 5px 10px;
  font-size: 1.5em;
  margin-left: 10px;
}

.navbar{
  background-color: #000000;
}

.chore {
  font-size: 30px;
  font-family: Universe;
  color: #c2e8fb;
}

.text-btn{
  background:none;
  background-color:none;
  border:none;
  margin:0;
  padding:0;
}

li .text-add-kid-btn{
  font-size: 1.2em;
  background:none;
  background-color:none;
  border:none;
  margin:0;
  padding:0px 0px 0px 15px;
}

.logout{
  background-color: transparent;
  border-color: transparent;
  color:#c2e8fb;
  font-size: 1.2em;
}

