.kid-dd{
  margin: 10px 20px 5px 5px;
}

.kid-dd button{
  padding: 0px 70px;
  font-size: 1.7em;
}

.chore-form{
  background-color: #ffffff;
  padding: 30px 10px;
 margin-top: 15px;
 align-self: center;
}

.reward-form{
  background-color: #ffffff;
  padding: 30px 10px;
  margin-left: 100px;
}

.kid-chores{
  background-color: #ffffff;
  padding: 50px;
  font-size: 2em;
}

.calendar{
background-color: #000000;
padding:30px 0px;
text-align: center;
}

.calendar h2{
  color:#ffffff;
}

.calendar div{
  margin: 0px auto;
}


.link-btn a{
  font-weight: bolder;
  color:#000000;
}

.chore-list{
  padding: 50px;
  font-size: 2em;
}

.reward-list{
  padding: 50px;
  font-size: 2em;
  background-color: #c2e8fb;
}

.chore-item{
  background-color: #fdfdfd;
  box-shadow: 2px 2px 10px #777777;
}

.reward-item{
  background-color: #fcf3e3;
  box-shadow: 2px 2px 10px #777777;
}
/*// additional css -- Mary */
#choreType{
       margin: 0px auto 20px auto;
    width: 90%;
    background-color: #000000;
    color: #aaaaaa;
    font-size: 1.5em;
}

.dReward{
    background-color: transparent;
    border-color: transparent;
    width: auto;
    margin:0px;
    padding:0px;
}


